<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">My Portfolio</h1>
        </div>
    </header>

    <!--flashメッセージ-->
    <div th:if="${errorMessage}" class="alert alert-warning" role="alert">
        <strong th:text="${errorMessage}"></strong>
    </div>

    <main class="main-container">
        <h2>ログイン</h2>
        <form th:action="@{/login}" method="post" class="register-form">
            <div class="form-group">
                <label for="email" class="form-label">メールアドレス</label>
                <input type="text" name="email">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" name="password">
            </div>
            <button type="submit" class="btn login-btn">ログインする</button>
            <a th:href="@{/register}" class="btn register-btn">新規登録する</a>
        </form>
    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-text">portfolio site</p>
        </div>
    </footer>    
</body>
</html>