<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/skillEdit.css">
</head>
<body>


    <header>


        <div class="header-container">

            <h1 class="logo">My Portfolio</h1>

            <form th:action="@{/logout}" method="post">

                <button type="submit" class="btn logout-btn">ログアウト</button>

            </form>
        </div>


    </header>


    <main class="main-container">


    <div class="wrapper">

        <div class="month-pulldown-container">

            <select id="monthPulldown" class="month-pulldown">
                <option th:each= "month:${monthList}" th:value="${month}" th:text="${#temporals.format(month, 'M月')}"
                        th:selected= "${month.equals(displayMonth)}">
                </option>
            </select>

        </div>


        <div th:each= "category:${categories}" class="category-container">

            <div class="category-top">
                
                <h2 class="category-title" th:text="${category.name}"></h2>
                <a th:href="@{/skill/add(categoryId=${category.id}, month=${displayMonth})}"  class="btn add-btn"  style="text-decoration: none; text-align: center; display: inline-block; box-sizing: border-box;">
                    項目を追加する
                </a>

            </div>

            <div class="table-scroll-wrapper">


                <table class="skill-table">

                    <thead>
                        <tr>
                            <th class="col-subject">項目名</th>
                            <th class="col-time">学習時間</th>
                            <th class="col-save"></th>
                            <th class="col-delete"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each= "data:${learningDataList}" th:if= "${data.category.id == category.id}">
                            <td th:text="${data.subject}"></td>

                            <td>
                                <input type="number" name="studyTime" th:value="${data.studyTime}" th:form="|saveForm-${data.id}|" min="0" step="1">
                            </td>

                            <td>

                                <form th:id="|saveForm-${data.id}|" th:action="@{/skill/update}" method="post">
                                    <input type="hidden" name="learningDataId" th:value="${data.id}">
                                    <input type="hidden" name="month" th:value="${displayMonth}">
                                    <button type="submit" class="btn save-btn" id="modify_btn">学習時間を保存する</button>
                                </form>

                            </td>
                            <td>

                                <form th:action="@{/skill/delete}" method="post">
                                    <input type="hidden" name="learningDataId" th:value="${data.id}">
                                    <input type="hidden" name="month" th:value="${displayMonth}">
                                    <button type="submit" class="btn delete-btn" id="modify_btn">削除する</button>
                                </form>

                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

    <!-- モーダル表示はControllerからisSuccessのtrueを受け取ったときだけ画面に表示するようにする -->

    <div class="modal-overlay" th:if="${isSuccess}">

        <div class="modal-window">

            <p class="modal-message">
                <span th:text="${saveSubject}"></span> の学習時間を保存しました！
            </p>

            <a th:href="@{/skill/edit(month=${displayMonth})}" class="btn modal-btn">編集ページに戻る</a>

        </div>


    <!-- モーダル表示はControllerからisDeleteSuccessのtrueを受け取ったときだけ画面に表示するようにする -->
    </div>

        <div class="modal-overlay" th:if="${isDeleteSuccess}">

        <div class="modal-window">

            <p class="modal-message">
                <span th:text="${deletedSubject}"></span> を削除しました！
            </p>

            <a th:href="@{/skill/edit(month=${displayMonth})}" class="btn modal-btn">編集ページに戻る</a>

        </div>

    </div>

    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-text">portfolio site</p>
        </div>
    </footer>
    <script>

        const monthPulldown = document.getElementById('monthPulldown');
        monthPulldown.addEventListener('change', function() {
            // 選択された日付を取得
            const selectedMonth = this.value;
            // URLパラメータに月を付与してリロード
            window.location.href = '/skill/edit?month=' + selectedMonth;
        });

        //学習時間を保存するボタンがクリックされたときの処理
        document.addEventListener('click', event => {
            //クリックされた要素が学習時間を保存するボタン(modify_btn)か、モーダル内のボタン(modal-btn)だった場合
            if (event.target.id === 'modify_btn'|| event.target.classList.contains('modal-btn')) {
            //スクロール位置取得
            var location = window.pageYOffset;
            // sessionStorageに保存する
            sessionStorage.setItem('OffsetTop', location);
            }
        });

        // ページが読み込まれたときにスクロール位置を復元する
        window.addEventListener('load', loadFinished);
        // スクロール位置を復元する関数
        function loadFinished() {
            var OffsetTop = sessionStorage.getItem("OffsetTop");
            window.scroll({
                top: OffsetTop,
                behavior: 'instant'
            });

            // sessionStorage削除
            sessionStorage.removeItem("OffsetTop");
        }

    </script>
</body>
</html>