<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <h1>Top Page</h1>
    </header>
    <main class="main-container">
        <h2>トップページです。</h2>
    </main>
    <footer>
    <div class="footer-container">
        <p>portfolio site</p>
    </div>
</footer>
</body>
</html>