<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/topLoggedIn.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">My Portfolio</h1>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn logout-btn">ログアウト</button>
            </form>
        </div>
    </header>
    <main class="main-container">
        <div class="wrapper-content">
            <div class="content">
                <div class="content-left">
                    <div class="avatar-container">
                        <img class="avatar" th:src="'data:image/jpeg;base64,' + ${avatarBase64}" alt="アバター画像">
                    </div>
                        <p class="user-name" th:text="${user.name}"></p>
                </div>
                <div class="content-right">
                    <div class="introduction-container">
                    <h2 class="introduction-title">自己紹介</h2>
                    </div>
                    <p class="introduction" th:text="${user.introduction}"></p>
                    <a th:href="@{/profile/edit}" class="btn editprofile-btn">自己紹介を編集する</a>
                </div>
            </div>
        </div>
        <div class="wrapper-chart">
            <h2>学習チャート</h2>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-text">portfolio site</p>
        </div>
    </footer>
</body>
</html>